@charset "utf-8";

/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@200;500;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans";
}

#content-container {
    color: red;
    border: 1px solid black;
    padding: 2%;
    font-size: 24pt;
}